html {
    font-size: 20px;
}

h1{
    margin-left: 10px;
}

#accountSection{
    border-radius: 20px;
    background-color: gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 30px;
    width: 350px;
    padding-bottom: 10px;
    margin-left: 10px;
}
table, td, th, tr{
    text-align: center;
}
#earnedSection{
    border-radius: 25px;
    background-color: gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 30px;
    width: 350px;
    padding-bottom: 10px;
    margin-left: 10px;
}

button{
    margin-left: 10px;
    font-size: 18px;
    border-radius: 10px;
}

#select{
    font-size: 18px;
    margin-left: 10px;
    border-radius: 5px;

}

#computerPresentation{
    margin-left: 10px;
}

#computerImg{
    border-radius: 20px;
    margin-left: 10px;
}

#btnBuy{
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    background-color: greenyellow;

}

#btnBuy:hover{
    color: black;
    opacity: 0.7;
    transition: 0.2s;
}